* {
    padding: 0%;
    margin: 0%;
}

.informacion {
    background-image:url(../img/web-design-2038872_1280.jpg); 
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
   
}
.informacion-texto{
   background: rgb(66, 75, 67, 0.7);
   padding: 1em;
   color:white;
   font-size: 40px;
   text-align: center;

}
/* .informacion-texto{
width: 100
   background: yellow;
} */