* {
    padding: 0%;
    margin: 0%;
}

.informacion {
    background-image:url(../fondo4.jpg); 
    background-size: cover;
    background-position: center auto;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
   
}
.informacion-texto{
   background: rgb(66, 75, 67, 0.7);
   padding: 1em;
   color:white;
   font-size:3px;
   text-align: center;
   width: 100%;

}


/* estilos acerca de mi */

.acerca-de-mi{
    background: #3F3937;
    height: 100vh;
}


/* estilos acerca de mi */
.proyectos{
    background: blueviolet;
    height: 100vh;
}

.habilidades{
    background: rgb(112, 6, 116);
    height: 80vh;
}

.contacto{
    background: rgb(156, 60, 60);
    height: 100vh;
}