@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=400,700swap');


* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
  
}
body p{
    font-family: 'roboto', sans-serif;
    font-weight: 400;  
}


  
  /*---navbar---*/
.navbar {
    background: rgba(54, 52, 52, 0.8)!important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: .9rem;
}
  
  

.navbar-nav li {
  padding-right: .7rem;
}
  
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    padding-top: .8rem;
  }
  
.navbar-dark .navbar-nav .nav-link.active,  
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3!important;
}
  
 
.inicio{
    background-image: url(../img/fondo3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.texto-inicio{
  background-color: rgba(90, 48, 48, 0.5);
  padding-top: 10rem;
  letter-spacing: 1px;
  text-align: center;
  font-size: 30px;
  color: white;
  height: 100%;
  width: 100%;
 }
 .texto-inicio h6{
   font-size: 50px;
   
 }


/* estilos acerca de mi */

.acerca-de-mi{
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}
.contenido-acerca-de-mi img{
 display: none;
 
}
.contenido-acerca-de-mi{
    justify-content:center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-top: 1em;
    display: flex;

    
  
}
.acerca-de-mi-texto{
padding: 2rem;
width: 100%;


}
.acerca-de-mi-texto h4{
  text-align: center;
}
/* habilidades */
.habilidades{
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: auto;
    display: block;
    width: 100%;
   padding-top: 6rem;
}
.habilidades-contenido h5{
  border-left:6px solid rgb(22, 153, 81);
  height: 1.5rem;
  background-color:rgba(54, 52, 52, 0.8);
  width: 95%;
  text-align: center;
  color: white;
   }

 
    .proyectos {
      height:auto;
      display: block;
      padding-top: 4.5rem;
    }
  
 
    .card {
      width: 100%;
      height: fit-content;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 15px rgb(105, 97, 97) !important;

  }

   .card-image{
   width: 100%;

   }
  


/* estilos contacto */
.contacto{
   background: #37393b;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   display: flex;
   height: auto;
}

.contenido-contacto p{
padding-bottom: 1rem;
}
.contenido-contacto i {
  padding-top: 1rem;
}

.contenido-contacto{
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  display: flex;
  padding: 1rem;
}





@media (min-width: 767px) {
  /* acerca de mi */
  .acerca-de-mi{
    display: flex;
    flex-direction: row;
  }
  .contenido-acerca-de-mi img{
    width: 200px;
    height:200px;
    border-radius: 100%;
    display: block;
    
   }
   .acerca-de-mi-texto{
     width: 50%;
     height: fit-content;
    font-size: 20px;
   }

   
   .proyectos {
     height: auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
   }
  
   .proyectos div .car{
    padding-left: 2em;
    padding-top: 1em;
    width: 50%;
    height: 4vh;
    margin-bottom: 3%;
    
 
   }


   .card {
   
    background-color: transparent;
    width: 45%;
    height: 70%;
    perspective: 1000px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 

 

   .habilidades{
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    display: flex;
    width: 100%;
}
   .habilidades-contenido{
    text-align: center;
    width: 40%;
    height: 70vh;
   }
   
   .contacto{
    background: #37393b;
    
 }
 .contenido-contacto{

   display: flex;
   flex-direction: row;
 
 }
 .contenido-contacto i {
   padding-left: 4rem;
 }
 .contenido-contacto p{
   padding-left: 1rem;
   padding-top: 2rem;
 }
 
 .image-fitclub{
   width: inherit;
 }
  


  
  


}